<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='backend/stylesheets/style.css' />
  </head>
  <body>
    <div id="root"></div>
    <script src="backend/static/bundle.js"></script>
  </body>
</html>